/*
====================================================

      :::::::::   ::::::::          ::::::::   ::::::::      ::: 
     :+:    :+: :+:    :+:        :+:    :+: :+:    :+:    :+:   
    +:+    +:+ +:+               +:+    +:+ +:+          +:+ +:+ 
   +#+    +:+ +#+                +#++:++#  +#++:++#+   +#+  +:+  
  +#+    +#+ +#+               +#+    +#+ +#+    +#+ +#+#+#+#+#+ 
 #+#    #+# #+#    #+#        #+#    #+# #+#    #+#       #+#    
#########   ########          ########   ########        ###     
                                                                                       
=====================================================
*/
@font-face 		{
    font-family: 'Courier New';
    }

body            {letter-spacing: 0.1px; padding: 0; margin: 0; font-family: 'Courier New', Monospace, Courier; 
    font-weight: 400; font-size: 17px; color: #c8c8c8; background: #000;}
html            {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
pre             {padding: 0; margin: 0 0 50px 0;}
ul              {padding: 0;}
span            {padding: 0; margin: 0 10px 0 0;}
li              {margin: 15px 0; padding: 0; list-style: none;}
.squarelist     {list-style-type:square;}
a               {text-decoration: none; color: #fff;}
a:hover         {color: #fff; text-decoration: underline;}
p               {padding: 0; margin: 10px 0 30px 0;}
img             {width: 900px; max-width: 900px; margin-bottom: 20px;}
#page           {max-width: 900px; margin: auto; padding: 0 20px;}
#content        {max-width:100%; margin: auto;}
#footer 		{max-width: 900px; margin:auto; margin-top: 55px;}
.header			{height: 110px; width: 100%; margin: auto; margin-bottom: 50px; border-bottom: dotted 1px #444;}
.logodiv 		{max-width: 900px; margin:auto; padding: 0 20px;}
.logo			{width: 10%; margin: auto; margin-top: 10px;}
#list           {margin-bottom: 50px;}
.about-logo     {width: 50%;}
#post           {max-width: 900px; margin-bottom: 20px; margin-top: -10px; line-height: 28px;}
.categories		{max-width: 300px; right:0; margin: 40px 60px 0 0; position: fixed; background: #000;
    text-align: right; z-index: 0;}
@media 			all and (max-width: 1000px) and (min-width: 20px) {
.categories 	{visibility: hidden;}
.catbox			{visibility: hidden;}
}
.catbox			{width: 300px; height: 160px; right:0; margin:0; position: absolute; background: #000;
    display: block; z-index: 999;}
.footdogs       {margin:0 5px}
.tag            {color: #c8c8c8;}
.notification   {color: #000; background: #fff;}
.important      {margin-left: -18px;}
.title          {display: inline-block; margin-bottom: 20px; margin-top: 20px; color: #FFF;}
.shoptitle      {display: inline-block; margin-bottom: 20px; margin-top: 20px; position: fixed;}
.subtitle       {display: inline-block; margin: 20px 0; color: #FFF;}
.code           {max-width: 900px; background: #1f1f1f; padding: 20px; margin:10px 0 30px 0; display:inline-block;}
.shop           {max-width: 900px; margin: -10px 0 40px 0;}
.codesmall      {background: #1f1f1f; display:inline-block;}
.filter         {display:block; margin-bottom: 30px; margin-top: -60px; text-align: right; font-size: 20px;}
.description    {background: #1f1f1f; padding: 10px 0 10px 10px; margin-top: 0px;}
.videowrapper   {position: relative; padding-bottom: 56.45%; height: 0;}
video 			{max-width: 100%}

@media 			only screen and (max-width: 900px)
{
img 			{width: 100%;}
body			{font-size: 19px;}
}