<header class="header">
    <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <div class="headerlogo" style="">
            <div class="social-nav">
            <a href='/index.html'><img class="getapp-nav-img" src='{{ site.baseurl }}/images/864.png'/></a>
            </div>
        </div>
        <section id="nav">
            <h2>&#164<a href="/index.html"><span></span>Home</a> &#164<a href="/about.html"><span></span>About</a></h2>
        </section>
        <h2></h2>
        <h3>DefCon group of the Upstate</h3>
    </div>
</header>